/* Dropdown Button */
.dropbtn {
    background-color: orange;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border: solid 2px;
    border-color: black;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: orange;
    color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: Black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.Business {
    font-size: 50px;
    color: dodgerblue;
    background-color: orange;
    border: solid 2px;
    border-color: black;
}
html {
    background-color: grey;
}
.logo {
    height: 65px;
}
.headline {

}
.Display{
    Height:100px;
    width: 120px;
    border: solid 10px;
    border-color: orange;
}
.Display2{
    Height:400px;
    Width:400px;
    Border:solid 10px;
}
.Business2{
    background-color: white;
    font-size: 15px;
    color: black;
    border: solid 5px;
    border-color: black;
}
/*css for the search bar*/
.searchbar {
  text-decoration-style: solid #ffffff;
  color:#ffffff;
  padding-top:15px;
  padding-bottom:17px;
  width: 412px;
  font-size:15px;
  background-color:orange;
  border:solid 2px;
  border-color:black;
}
/*placeholder color*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff;
}
